* {

  box-sizing: border-box;
}




body {
  margin: 32px;
  font-family: 'Open Sans', sans-serif;
  ;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;

}

.item-foto {
  display: inline-flex;
  border-radius: 50%;

}

.varus {
  font-family: Lato;
  font-style: italic;
}

.var {}

.wrap {
  background-color: aqua;
  transition: background-color 4000ms;
}

.inspect {
  background-color: tomato;
  transition: background-color 4000ms;
}

.flex {

  display: flex;
  flex-direction: column-reverse;
  transition: flex-direction 3000ms;

}